controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    arm_controller:
      type: forward_command_controller/ForwardCommandController

joint_state_broadcaster:
  ros__parameters:
    publish_rate: 50.0

arm_controller:
  ros__parameters:
    joints:
      - arm_joint_1
      - arm_joint_2
    interface_name: position
